* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  font-family: "sans-serif", "Verdana";
  max-width: 964px;
  margin: auto;
}

/* begin header*/

.header-section {
  background-color: #a5c663;
  padding: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 10px;
}

.question-container {
  background-color: rgba(51, 155, 203, 0.1);
}
.question-section {
  content: "";
  display: table;
  clear: both;
  padding: 0px 0 10px 0;
  width: 100%;
  margin: 0 0 40px 0;
  border: 1px solid #339ccb;
}

.question-title {
  padding: 10px 10px 10px 20px;
  background-color: #a5c673;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
}
.question-sub-title {
  padding: 10px;
  color: #a5c673;
  font-size: 14px;
}
.question {
  display: table;
  padding-left: 10px;
  border-collapse: collapse;
  margin-left: 10px;
}
.question > div {
  display: table-row;
  padding: 20px;
}

.question > div > div {
  display: table-cell;
  width: auto;
}

.question > div > div:first-child {
  width: 52%;
  margin: 0px;
}

.question > .comment {
  display: block;
  width: 100%;
  clear: both;
}


@media screen and (max-width: 900px) {
  .question > div > div {
    display: block;
    width: 100%;
    min-height: 50px;
  }
  .question > div > div:first-child {
    width: 100%;
    margin: 0px;
  }
}

input[type="radio"] {
  font-family: "Ted Next";
  font-size: 16px;
}
input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #a5c663;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid a5c663;
}
.survey-send {
  margin-top: 50px;
  text-align: center;
  display: block;
}

.survey-send > div {
  margin-left: 20px;
  width: 200px;
  display: inline-block;
}

.header-title {
  text-align: center;
  color: #464647;
  margin-bottom: 25px;
  margin-top: -25px;
  line-height: 15px;
}

.header-title h2 {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

.header-title h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 10px;
}

.header-title h4 {
  font-weight: bold;
  font-size: 12px;
}

.row {
  content: "";
  display: table;
  clear: both;
  width: 90%;
  margin: auto;
  margin-top: 15px;
}

.nav {
  height: 40px;
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
  position: relative;
  /* background: green; */
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 5px 10px 5px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 14px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  color: #464647 !important;
  font-size: 12px !important;
  line-height: 30px !important;
  text-transform: uppercase;
}

.round {
  border: 1px solid #464647;
  border-radius: 5px;
  text-align: center;
  width: 110px;
  padding: 5px 10px;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

/* Main Body */
.section {
  padding: 30px 0 70px 0;
  width: 100%;
  height: auto;
}
.section-tittle {
  text-align: center;
}

.section-contact p {
  color: #bbb;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  font-weight: 400;
  color: #dddddd;
  margin: 0px;
  margin-bottom: 18px;
  font-family: "Cabin", sans-serif;
}
.section-tittle {
  text-align: center;
}

.option-field1 {
  height: 50px;
  resize: vertical;
  width: 100%;
  height: 50px;
  padding: 1px 10px;
  color: white;
  border: 1px solid #a5c663;
  background-color: transparent;
  margin-bottom: 10px;
  font-size: 13px;
  border-radius: 5px 5px;
}

input[type="radio"] {
  margin: 0px 0px 0px 30px;
}

.contact-column {
  float: left;
  width: 48%;
  height: auto;
  padding: 10px;
  margin: 0px 6px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.color-black {
  background-color: #464647;
}
input[type="text"] {
  resize: vertical;
  width: 100%;
  height: 50px;
  padding: 1px 10px;
  color: white;
  border: 1px solid #a5c663;
  background-color: transparent;
  margin-bottom: 10px;
  font-size: 13px;
  border-radius: 5px 5px;
}

::-webkit-input-placeholder {
  /* Edge */
  color: white;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::placeholder {
  color: white;
}

textarea {
  height: auto;
  width: 100%;
  padding: 1px 10px;
  padding-top: 10px;
  color: black;
  border: 1px solid #75d18b;
  background-color: transparent;
  font-size: 13px;
  border-radius: 5px 5px 5px 5px;
}
.button:hover,
textarea:hover {
  border: 1px solid #aaa;
}

.button {
  color: white;
  background-color: #a5c663;
  text-align: center;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  margin-top: 10px;
  padding: 18px 32px;
  position: relative;
  text-transform: uppercase;
  border-radius: 5px 5px;
  border: 1px solid #a5c663;
}

.clear {
  background-color: #333333;
}

input[type="text"]:hover {
  border: 1px solid #aaa;
}

/* end form input styles*/

/*-- begin footer-section */

.footer {
  margin: auto;
  z-index: 900;
  background-color: #2f3539;
  border-top: 1px solid #393f43;
  font-weight: 300;
  padding: 40px 0 70px 0;
  width: 100%;
  height: auto;
}

.footer-tittle {
  text-align: center;
  width: 80%;
  margin: auto;
}

.footer-tittle p {
  font-size: 14px;
  color: #cecece;
  margin: 5px 5px;
}

.copyright {
  font-size: 10px;
  color: #cecece;
  margin: 10px 0px;
}
.footer-tittle a {
  font-size: 12px;
  color: #88ad45;
  text-decoration: underline;
}

.footer-social {
  display: block;
  width: 100%;
  padding-left: 0;
  margin: 25px auto;
  text-align: center;
}

ul.footer-social li {
  display: inline;
  margin: 0 auto;
  padding-top: 5px;
  text-align: center;
}

ul.footer-social li a {
  text-decoration: none;
}

ul.footer-social li a i {
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  font-size: 25px !important;
  line-height: 15px !important;
  color: #88ad45;
  text-decoration: none;
}
/*-- end footer-section */

/* MEDIA QUERIES */

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav {
    width: 100%;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #c93b2b;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .round {
    border: 1px solid white;
    display: block;
    width: 100%;
    border: none;
    text-align: start;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(60vh - 50px);
    overflow-y: auto;
  }
}

@media screen and (max-width: 900px) {
  .header-section {
    padding-bottom: 30px;
  }
  .row {
    width: 100%;
    padding: 10px;
  }
  .section {
    padding: 55px 10px 55px 10px;
    width: 100%;
  }
  .contact-column {
    width: 100%;
    display: block;
    padding: 10px;
    margin: 10px auto auto auto;
  }
  .section-contact p {
    font-size: 14px;
  }
  .footer {
    padding: 55px 10px 55px 10px;
    width: 100%;
  }
}
